.model-dashboard__body{
  display: flex;
  flex: 1;
  background: #dfdfdf;
}

.model-dashboard__sidebar{
  display: flex;
  
}

.model-dashboard{
  flex: 1;
  display: flex;
}

.collection-list{
  display: flex;

}

.model-list{
  background: green;
  flex: 1;
  display: flex;
  padding: 12px;
}
